<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.constraints.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.gatech.constraints.demo.StaticDemo"
            android:label="@string/static_demo" >
        </activity>
        <activity
            android:name="edu.gatech.constraints.demo.DynamicDemo"
            android:label="@string/dynamic_demo" >
        </activity>
        <activity
            android:name="edu.gatech.constraints.demo.DynamicLayoutEditor"
            android:label="@string/dynamic_editor"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="edu.gatech.constraints.demo.DynamicLayoutOutput"
            android:label="@string/title_activity_dynamic_layout_output" >
        </activity>
        <activity
            android:name="edu.gatech.constraints.demo.AppHome"
            android:label="@string/title_activity_app_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.constraints.demo.PaddingDemo"
            android:label="@string/padding_demo" >
        </activity>
        </application>

</manifest>